table th, td{
    border: 1px solid black;
    padding: 10px;
}
table{
    border-collapse: collapse;
    position: absolute;
    text-align: center; 
}
.frame-container{
    margin: 0 auto; 
    width: 330px;
    text-align: center;
}
td {
    border: 3px solid #F0A6CA;
    height: 80px;
    width: 80px;
    font-family: "Helvetica",sans-serif,monospace;
    font-size: 65px;
    cursor: pointer;
    color: #B8BEDD;
}
